@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* Solution */

ul {
  list-style-type: none;
}
/* This will style the links */
a {
  outline: none;
  text-decoration: none;
  padding: 1px 1px 0;
}

a:link {
  color: #305314;
}

a:visited {
  color: #437A16;
}

a:focus {
  border-bottom: 1px solid;
  background: #BAE498;
}

a:hover {
  border-bottom: 1px solid;
  background: rgb(214, 203, 155);
}

a:active {
  background: #265301;
  color: #CDFEAA;
}
/* This will style the links */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #eeeeee;
  margin-top: auto;
}

.left-links {
  display: flex;
  gap: 10px;
}

.right-links {
  display: flex;
  gap: 10px;
}

.content {
  margin: auto;
  text-align: center;
}

button {
  padding: 12px;
  margin: 5px;
}